/* @import url('./reset.css'); */
:root {
  --color1: #aaa
}
html {
  max-width: 800px;
}
body {
  margin: 1rem;
}
h1.logo {
  border-bottom: dotted 5px;
  border-color: var(--color1);
}
h1.logo img {
  height: 7rem;
  margin: 0 1rem 1rem 0;
}
h1.logo > * {
  vertical-align: middle;
}
footer {
  border-top: dotted 5px;
  border-color: var(--color1);
  margin-top: 3rem;
  padding-top: 1rem;
}
footer a {
  margin: 2rem;
}