/* @import url('./reset.css'); */
:root {
  --color1: rgb(248, 159, 159);
  --color2: rgb(114, 75, 75);
}
html {
  max-width: 800px;
}
body {
  margin: 1rem;
}
header {
  margin: -1rem -1rem 0;
  padding: 0.7rem 1rem 0.4rem;

  background-color: var(--color1);
  font-size: 2rem;
  color: var(--color2);
}
header svg {
  fill: var(--color2);
  height: 1.6rem;
  vertical-align: baseline;
}
header small {
  font-size: 1rem;
}

.thumbprint {
  margin-left: 2rem;
  margin-top: -1rem;
  font-size: 60%;
}

footer {
  border-top: dotted 5px;
  border-color: var(--color1);
  margin-top: 3rem;
  padding-top: 1rem;
  display: flex;
}
footer > * {
  margin: 1rem 2rem;
}
